@model IEnumerable<Modelo.Discente.Academico>

@{
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-block">
    <div class="card-header text-black-50 bg-light text-center h4">
        Acadêmicos Registrados
    </div>
    <div class="card-body">
        <table class="table table-striped" id="tabela_academicos">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistroAcademico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nascimento)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroAcademico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nascimento)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AcademicoID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AcademicoID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AcademicoID">Delete</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-success text-center">
        <a asp-action="Create" class="btn-success">Novo Acadêmico</a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_academicos').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}